// ######################################## //
// ## COLORS.SCSS ## //
// ######################################## //

// Black (Gray) Color Shades
$black: #000000;
$black2: #1D1D1D;
$black3:#282828;
$gray-1: #333333;
$gray-2: #4F4F4F;
$gray-3: #BDBDBD;
$gray-4: #E0E0E0;
$gray-5: #555555;
$gray-6: #666666;
$gray-7: #777777;
$gray-8: #888888;
$gray-9: #999999;
$gray-a: #aaaaaa;
$gray-b: #bbbbbb;
$gray-c: #cccccc;
$gray-d: #dddddd;
$gray-e: #eeeeee;
$gray-f9: #F9F9F9;
$white: #ffffff;
$gray-primary :#F2F4FA;



// Color Shades (Theme Based - Xclusive)
$theme-primary: #FF7F29;
$theme-secondary: #3F4255;
$theme-primary2 : #FF7A7A;
$theme-dark: #25282b;
$theme-success: #79B93C;
$theme-info: #9c6dff;
$theme-warning:#FFB30E;
$theme-green: #34C981;
$theme-purple: #592b88;
$theme-warning-light: #fef6e0;
$theme-danger: #EB5757;
$theme-yellow: #ea9d04;
$theme-cyan: #35d2cc;
$theme-pink: #f24291;
$theme-link: #1160c7;